@using System.Web.UI.WebControls
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">View Trial Active</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-default">View Active...</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
            <h2>No Active Record</h2>
            <p>There is no Active record for this Trial currently.</p>
        </div>
    </div>
    <!-- /.box-body -->
</div>