 <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/user-png-image-15189.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@ViewBag.FullName</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="~/home/index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-object-group"></i> <span>Trials</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/TrialFeasibility/Create"><i class="fa fa-plus"></i><span>Start Trial</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group"></i> <span>Types</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/TrialType/"><i class="fa fa-plus"></i><span>Trial</span></a></li>
                            <li><a href="/Phase/"><i class="fa fa-plus"></i><span>Phase</span></a></li>
                            <li><a href="/GrantType/"><i class="fa fa-plus"></i><span>Grant</span></a></li>
                            <li><a href="/DiseaseTherapyArea/"><i class="fa fa-plus"></i><span>Disease/Therapy Area</span></a></li>
                            <li><a href="/ActiveStatus/"><i class="fa fa-plus"></i><span>Active Status</span></a></li>
                        </ul>
                    </li>
                        
                 </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group"></i> <span>Contacts</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Contacts/"><i class="fa fa-plus"></i><span>Add/edit a New Contact</span></a></li>
                    <li><a href="/Roles/"><i class="fa fa-plus"></i><span>Add Contact role</span></a></li>
                    <li><a href="/ContactStatus/"><i class="fa fa-plus"></i><span>Add Contact status</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-o"></i> <span>Documents</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/DocumentTypes/"><i class="fa fa-plus"></i><span>Add/edit Document Type</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Administration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/TrialGroup/">Create New Trial Group</a></li>
                    <li><a href="/ContactTrialGroup/">Add User to Trial Group</a></li>
                    <li><a href="/TrialGroupTrial/">Add Trial to Trial Group</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-trash-o"></i> <span>Delete</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-plus"></i><span>Delete Contacts</span></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i><span>Delete Roles</span></a></li>
                            <li><a href="#"><i class="fa fa-plus"></i><span>Delete Documents</span></a></li>
                        </ul>
                    </li>
                </ul>

            </li>
            
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

